<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->

    <title>TA Hours for <%= timeslot %></title>
    <style>
        /*table, th, td {*/
        /*border: 1px solid black;*/
        /*}*/
        body {
            /*background-color: red;*/
            background-image: url('https://raw.githubusercontent.com/anooprh/hackathon-starter/master/public/img/newbackground.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .question_box {
            margin-left: 40px;
            color: white;
            border-style: solid;
            border-width: 4px;
            border-color: #FFFFFF;
            border-radius: 2px;
            padding: 5px;
            margin-bottom: 5px;
            height: 20px;
            line-height: 20px;
            vertical-align: middle;
            width: 1000px;
        }

        header {
            height: 150px;
            background-image: url('https://raw.githubusercontent.com/anooprh/hackathon-starter/master/public/img/headername.png');
            background-repeat: no-repeat;
            margin-top: 180px;
            margin-left: 40px;
        }

        #new-question-text {
            background: transparent;
            margin-left: 40px;
            color: white;
            border-style: solid;
            border-width: 4px;
            border-color: #FFFFFF;
            border-radius: 2px;
            padding: 5px;
            margin-bottom: 5px;
            height: 20px;
            line-height: 20px;
            vertical-align: middle;
            width: 1000px;
        }

        #add-question-btn {
            border-style: hidden;
            background: transparent;
            width: 40px;
            height: 40px;
            margin-left: 500px;
        }

        .upvote-question-btn {
            border-style: hidden;
            background: transparent;
            width: 40px;
            height: 40px;
        }

        .question_posters_photo {
            border-style: hidden;
            background: transparent;
            width: 40px;
            height: 40px;
        }

        .question_upvoters_photo{
            border-style: hidden;
            background: transparent;
            width: 40px;
            height: 40px;
        }

        #new-question-submit-box {
            background: transparent;
            border-style: solid;
            border-width: 4px;
            border-color: #FFFFFF;
            border-radius: 2px;
            color: #ffffff;
            font-size: 14px;
        }

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $("#new-question-box").hide();
            $("#add-question-btn").click(function () {
                $("#new-question-box").show();
                $(this).hide();
            });
            $("#new-question-submit-box").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/ta_hours/2/new_question",
                    data: {
                        "question": $("#new-question-text").val(),
                        "posted_by": "the great"
                    },
                    success: function () {
                        location.reload();
                    }
                })
            });
            $(".upvote-question-btn").click(function () {
                var url = "/ta_hours/2/question_upvote/" + $(this).attr('qid');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        "posted_by": "the great"
                    },
                    success: function () {
                        location.reload();
                    }
                })
            });
        });
    </script>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<header>
    <!--TA Name : <%= ta_name %>-->
    <!--<hr/>-->
    <!--Time : <%= timeslot %>-->
    <!--<hr/>-->
    <!--Place : <%= place %>-->
    <!--<hr/>-->
</header>
<div class="container">
    <table>
        <!--<tr>-->
        <!--<td>Question Number</td>-->
        <!--<td>Question</td>-->
        <!--<td>Posted By</td>-->
        <!--<td>-->
        <!--Upvoted by-->
        <!--</td>-->
        <!--</tr>-->

        <% for(var i = 0; i < questions.length; i++) { %>
        <tr>
            <td>
                <div class="question_box">
                    <%= questions[i].question %>
                </div>
            </td>
            <!--<td>Question <%= i %></td>-->
            <!--<td><%= questions[i].question %></td>-->
            <!--<td><%= questions[i].posted_by %></td>-->
            <!--<td>-->
            <!--<% for(var j = 0; j < questions[i].upvoted_by.length; j++) { %>-->
            <!--<%= questions[i].upvoted_by[j] %> ,-->
            <!--<% } %>-->
            <!--</td>-->
            <!--<td>-->
            <!--<button class="question_upvote_box" qid="<%= i %>">Me too!</button>-->
            <!--</td>-->
            <%= questions[i].upvoted_by.length%>
            <% for(var j = 0; j < questions[i].upvoted_by.length; j++) { %>
            <td>
                <button type="button" class="question_upvoters_photo"><img
                            src="https://raw.githubusercontent.com/anooprh/hackathon-starter/master/public/img/M.png"
                            width="35px"
                            height="35px" alt="Alt"/></button>
            </td>
            <% } %>

            <td>
                <button type="button" class="question_posters_photo"><img
                            src="https://raw.githubusercontent.com/anooprh/hackathon-starter/master/public/img/M.png"
                            width="35px"
                            height="35px" alt="Alt"/></button>
            </td>
            <td>
                <button type="button" class="upvote-question-btn" qid="<%= i %>"><img
                            src="https://raw.githubusercontent.com/anooprh/hackathon-starter/master/public/img/plusbutton.png"
                            width="20px"
                            height="20px" alt="Alt"/></button>
            </td>
        </tr>
        <% } %>
    </table>
    <button type="button" id="add-question-btn"><img
                src="https://raw.githubusercontent.com/anooprh/hackathon-starter/master/public/img/plusbutton.png"
                width="40px"
                height="40px" alt="Alt"/></button>
    <div id="new-question-box">
        <textarea id="new-question-text"></textarea>
        <button type="submit" id="new-question-submit-box">Submit</button>
    </div>
</div>
</body>
</html>